<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#parse( "global-variables.vm" )

#header("blog", "Blog - $projectname", "$projectname Blog. Announcements, releases and other info.", "$projectname, blog")

## RSS isn't set up for now
## #blogRssLink()

#foreach( $entry in $blog.entries )
    <a name="$entry.reference"></a>
    <div class="section">
        <h2>$entry.title</h2>
        #if ($entry.textShort)
            $entry.textShort
            <p>
                <a href="${entry.reference}.html" title="${entry.title}">Read the whole article...</a>
            </p>
        #else
            $entry.text
        #end
        <div class="sectionfooter">
            $entry.date |
            <a href="$baseurl/${entry.reference}.html" title="Permalink" rel="bookmark">Permalink</a>
        </div>
    </div>
    <div class="separator"></div>
#end

#footer()
