<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#parse( "global-variables.vm" )

#header("index", "$projectname - $project.shortDescription", "$project.shortDescription", "$projectname, $keywords")

<div class="section">

    $wiki.introDoc

</div>

<div class="separator"></div>

    $wiki.demoDoc

<div class="separator"></div>

<div class="section">

    $wiki.longDoc

</div>

#footer()
