<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#parse( "global-variables.vm" )

#header("developerguide", "Developer Guide - $projectname", "$projectname developer guide, architecutre overview.", "$projectname, developer, guide, tutorial")


<div class="section">
    <a name="devdoc"></a>
    $wiki.DevDoc
</div>


#footer()
