<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

#parse( "global-variables.vm" )

#header("faq", "FAQ - $projectname", "$project.shortDescription", "FAQ, $projectname, $keywords")

<div class="section">
    <h2>Frequently Asked Questions (FAQ)</h2>
    $wiki.FAQ
</div>

#footer()
