<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
   <url>
      <loc>$baseurl/</loc>
      <changefreq>monthly</changefreq>
      <priority>1.0</priority>
   </url>
   <url>
      <loc>$baseurl/index.html</loc>
      <changefreq>monthly</changefreq>
      <priority>1.0</priority>
   </url>
   <url>
      <loc>$baseurl/blog.html</loc>
      <changefreq>weekly</changefreq>
      <priority>0.7</priority>
   </url>
   <url>
      <loc>$baseurl/screenshots.html</loc>
      <changefreq>monthly</changefreq>
      <priority>0.7</priority>
   </url>
   <url>
      <loc>$baseurl/issues.html</loc>
      <changefreq>weekly</changefreq>
      <priority>0.7</priority>
   </url>
   <url>
      <loc>$baseurl/team.html</loc>
      <changefreq>weekly</changefreq>
      <priority>0.6</priority>
   </url>
   <url>
      <loc>$baseurl/closedissues.html</loc>
      <changefreq>weekly</changefreq>
      <priority>0.3</priority>
   </url>
   <url>
      <loc>$baseurl/download.html</loc>
      <changefreq>monthly</changefreq>
      <priority>0.7</priority>
   </url>
   <url>
      <loc>$baseurl/support.html</loc>
      <changefreq>weekly</changefreq>
      <priority>0.7</priority>
   </url>
   <url>
      <loc>$baseurl/documentation.html</loc>
      <changefreq>weekly</changefreq>
      <priority>0.7</priority>
   </url>
   <url>
      <loc>$baseurl/development.html</loc>
      <changefreq>monthly</changefreq>
      <priority>0.6</priority>
   </url>
   <url>
      <loc>$baseurl/developerguide.html</loc>
      <changefreq>monthly</changefreq>
      <priority>0.6</priority>
   </url>
   <url>
      <loc>$baseurl/faq.html</loc>
      <changefreq>monthly</changefreq>
      <priority>0.7</priority>
   </url>
   <url>
      <loc>$baseurl/ideas.html</loc>
      <changefreq>weekly</changefreq>
      <priority>0.7</priority>
   </url>
   <url>
      <loc>$baseurl/message.html</loc>
      <changefreq>weekly</changefreq>
      <priority>0.0</priority>
   </url>

#foreach( $entry in $blog.entries )
   <url>
      <loc>$baseurl/${entry.reference}.html</loc>
      <changefreq>weekly</changefreq>
      <priority>0.5</priority>
   </url>
#end

#foreach ($issue in $issues)
   <url>
      <loc>$baseurl/${issue.reference}.html</loc>
      <changefreq>daily</changefreq>
      <priority>0.4</priority>
   </url>
#end

#foreach ($story in $stories)
   <url>
      <loc>$baseurl/${story.reference}.html</loc>
      <changefreq>daily</changefreq>
      <priority>0.4</priority>
   </url>
#end

</urlset>
